
h1{
  margin-top: 100px;
  text-align: center;
  color: #fff;
}

.article_title
{
  color: black;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  border: 1px solid black;
  padding: 8px 10px;
  margin-left: -25px;
  margin-top: 20px;
  margin-right: 280px;
  font-weight: bold;
}

.article
{
  color: black;
  margin-top: 35px;
  font-size: 17px;
  text-align: left;
  margin-left: -25px;
}

.columns
{
  font-family: "Roboto", sans-serif;
  color: white;
}

.leftcolumn
{
  float: left;
  border: 15px solid black;
  outline: 2px solid white;
  background-color: white;
  width: 38%;
  height: 300px;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-left: 80px;
  margin-top: 50px;
}

.rightcolumn
{
  float: right;
  border: 15px solid black;
  outline: 2px solid white;
  background-color: white;
  width: 38%;
  height: 300px;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-right: 80px;
  margin-top: 50px;
}
 .header {
  font-family: Century;
  margin-top: 0px;
  font-size: 65px;
  text-shadow: 4px 4px 4px #aaa;

}

ul{
  float:right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding:7px 40px;
  border: 1px solid #fff;
  transition: 0.5s ease;
  background-color: none;
}

ul li a:hover{
  background-color:#fff;
  color: #000000
}

ul li a:active{
  background-color:#fff;
  color: #000000
}

.logo img{
  margin-top: 8px;
  float: left;
  width:150px

}

.img1{
  float: right;
  margin-right: 60px;
}

.img2{
  float: right;
  margin-right: 60px;
}

.img3{
  float: right;
  margin-right: 60px;
}

.img4{
  float: right;
  margin-right: 60px;
}

/*.padding{
  text-align: left;
}

.pic {
  margin-top: 50px;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 500px;
  height: 400px;
  margin-left: 150px;
  margin-right: 10px;
  float: left;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  width: 500px;
  opacity: 0;
  transition: .5s ease;
  background-color: YellowGreen;
  margin-left: 150px;
  margin-right: 900px;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: DarkGreen;
  font-size: 30px;
  font-family: 'Barriecito';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.image1 {
  display: block;
  width: 600px;
  height: 400px;
  margin-right: 100px;
  margin-left: 10px;
  float: right;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  width: 600px;
  opacity: 0;
  transition: .5s ease;
  background-color: YellowGreen;
  margin-left: 803px;
  float: right;
}

.container:hover .overlay1 {
  opacity: 0.8;
}
*{
  margin: 0;
  padding: 0;
  font-family: Century  ;
}

header{
  background-position: center;
}

body {
  background-color:#aaaa55;
}
/*.image2 {
  display: block;
  width: 600px;
  height: 400px;
  margin-right: 100px;
  margin-left: 10px;
  float: right;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  width: 600px;
  opacity: 0;
  transition: .5s ease;
  background-color: YellowGreen;
  margin-left: 803px;
  float: right;
}

.image3 {
  display: block;
  width: 600px;
  height: 400px;
  margin-right: 100px;
  margin-left: 10px;
  float: right;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  width: 600px;
  opacity: 0;
  transition: .5s ease;
  background-color: YellowGreen;
  margin-left: 803px;
  float: right;
} */

body{
  /* background-color: #aaaa55; */
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://www.kellyservices.us/us/siteassets/united-states---kelly-services/images/career--mgmt-tips/volunteer.jpg);
  background-size: cover;
  background-position: center;
  /* background-image:url(https://yellowzebrasafaris.com/media/37477/top-elephants-africa-hwange-zimbabwe.jpg?anchor=center&mode=crop&width=2048&height=1024&format=jpg&rnd=131783671720000000); */
}

/* .column {
 margin-left:70px;
 float: left;
 width: 33.33%;
 padding: 70px;
}

/* Clearfix (clear floats) */
/* .row::after {
 /* content: ""; */
 /* clear: both;
 display: table;
}

div.desc {
  padding: 15px;
  text-align: center;
} */ */ */
